@import url('https://fonts.googleapis.com/css?family=Exo+2');



input[type="text"] {
    background: #abf1de75;
    border: none;
    margin-left: 25px;
    padding: 5px;
    padding-right: 5px;
}


body {
    font-family: 'Exo 2', sans-serif;

}


* {
    margin: 0;
    padding: 0;
    
    }

    .row
    {
        margin-right: 0;
        margin-left: 0;
    }



    
    #fknwork {
        background-image: url("https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0b45845f981a3622a38342b2b7ba770&auto=format&fit=crop&w=701&q=80");
        height: 565px;
        background-position: center;
        background-size: cover;
    }
    

    
.col-sm-6.col-md-6 {
    float: left;
}


.logotop h1 {
    font-size: 25px;
    color: #fff;
    float: left;
    padding-right: 20px;
    font-weight: 600;
    padding-top: 18px;
}

form {
    margin-top: 37px;
}

button {
    margin-left: 15px;
    background: #fff;
    border: 1px solid #d8f9f0;
    padding: 11px;
    color: #003349;
    text-align: center;
    margin-top: 16px;
    width: 163px;
    height: 41px;
    font-size: 13px;
    cursor: pointer;
}

button:hover {
    color: #fff;
    background: #012e43;
}

.weinfo {
    margin-top: 49px;
    padding-left: 42px;
    
}

i.fas.fa-bolt {
    font-size: 19px;
    color: #53acbb;
}

.weinfo h1 {
    font-size: 2em;
}

.weinfo h3 {
    font-size: 1.3em;
    padding-left: 17px;
    color: #616161;
}
.desinfo {
    margin-top: 43px;
    border-left: 4px solid #53acbb47;
}